
		<!-- left menu starts -->
		<div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas" ><!--style="overflow:auto;height:930px;"-->
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
						
						<li class="nav-header">首页广告</li>
                        <li><a class="ajax-link" href="/kzAdvert"><i class="glyphicon glyphicon-home"></i><span> 广告列表</span></a>
                        </li>
                        <li><a class="ajax-link" href="/kzAdvertAdd"><i class="glyphicon glyphicon-home"></i><span> 添加广告</span></a>
                        </li>
                        
						<li class="nav-header">主功能</li>
                        <!-- <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 景点</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzPlaces">景点列表</a></li>
                                <li><a href="/kzPlacesAdd">添加景点</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 交通</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzTraffic">交通列表</a></li>
                                <li><a href="/kzTrafficAdd">添加交通</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 美食</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzFood">美食列表</a></li>
                                <li><a href="/kzFoodAdd">添加美食</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 酒店</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzHotel">酒店列表</a></li>
                                <li><a href="/kzHotelAdd">添加酒店</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 购物</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzShopping">购物列表</a></li>
                                <li><a href="/kzShoppingAdd">添加购物</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 娱乐</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzDisport">娱乐列表</a></li>
                                <li><a href="/kzDisportAdd">添加娱乐</a></li>
                            </ul>
                        </li>
                        <li class="nav-header">城市</li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-th-large"></i><span> 城市</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzCity">城市列表</a></li>
                                <li><a href="/kzCityAdd">添加城市</a></li>
                            </ul>
                        </li>
                        <li class="nav-header">分类</li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-th-large"></i><span> 分类</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzSort/0">分类列表</a></li>
                                <li><a href="/kzSortAdd">添加分类</a></li>
                            </ul>
                        </li>
                        <li class="nav-header">求助</li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-th-large"></i><span> 求助分类</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzHelpSort">分类列表</a></li>
                                <li><a href="/kzHelpSortAdd">添加分类</a></li>
                            </ul>
                        </li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 求助信息</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzHelp">求助列表</a></li>
                                <li><a href="/kzHelpAdd">添加求助</a></li>
                            </ul>
                        </li>
                        <li class="nav-header">附加功能</li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 精品推荐</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzRecommend">景点列表</a></li>
                            </ul>
                        </li>
                        <li class="nav-header">通知推送</li>
                         <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 通知推送</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/KzJNotification">通知列表</a></li> 
                                <li><a href="/kzJNotificationAdd">添加通知</a></li>
                            </ul>
                        </li>--> 
                        <li class="nav-header">用户管理</li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> 用户管理</span></a>
                            <ul class="nav nav-pills nav-stacked" >
                                <li><a href="/kzAuthUser">用户列表</a></li>
                                <li><a href="/kzAuthUserAdd">添加用户</a></li>
                            </ul>
                        </li>
                    </ul>
                    <label> </label>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->
